<nav class="navbar d-flex justify-content-center" style="background-color: #3778c2;">
  <h2 class="text-center fw-semibold mb-2 text-uppercase" style="color: white">Register</h2>
</nav>
<section class="vh-100" style="background-color: #3778c2;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
         <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="field form-outline mb-4">
                      <%= f.label :name, class:"form-label" %><br />
                      <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control form-control-lg" %>
                </div>
                <div class="field form-outline mb-4">
                      <%= f.label :email, class:"form-label" %><br />
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-control-lg" %>
                </div>

                <div class="field form-outline mb-4">
                  <%= f.label :password, class:"form-label" %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password", class:"form-control form-control-lg" %>
                </div>

                  <div class="field form-outline mb-4">
                    <%= f.label :password_confirmation, class:"form-label" %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control form-control-lg" %>
                  </div>

                <div class="actions">
                  <%= f.submit "Sign Up", class:"btn btn-primary btn-lg btn-block mb-3" %>
                </div>
              <% end %>

              <%= render "devise/shared/links" %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>



