<div class="new-food-container d-grid justify-content-center">
    <h1>Create New Entity</h1>
  <%= form_with(model: @entity, url: user_group_entity_index_url, method: :post) do |f| %>
    <div class="form-group">
        <div class="form-outline mb-4">
            <%= f.label :name %><br />
            <%= f.text_field :name, class: "form-control form-control-lg" %>
        </div>
       <div class="form-outline mb-4">
            <%= f.label :amount, class: "form-label" %><br />
            <%= f.number_field :amount, class: "form-control form-control-lg" %>
        </div>
          <div class="form-outline mb-4">
            <%= f.label :group_id, class: "form-label" %><br />
            <%= f.select(:group_id, Group.all.map{|u| [u.name, u.id]}, class: "form-control form-control-lg" ) %>
        </div>
        <div class="submit-btn">
             <%= f.submit 'Add Entity',  class: "btn btn-primary btn-lg btn-block"  %>
        </div>
    </div>
    <% end %>
</div>