<nav class="navbar d-flex justify-content-center" style="background-color: #3778c2;">
  <h2 class="text-center fw-semibold mb-2 text-uppercase" style="color: white">Log in</h2>
</nav>
<section class="vh-100" style="background-color: #3778c2;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field form-outline mb-4">
                  <%= f.label :email, class:"form-label"  %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-control-lg"%>
                </div>

                <div class="field form-outline mb-4">
                  <%= f.label :password, class:"form-label"  %><br />
                  <%= f.password_field :password, autocomplete: "current-password", class:"form-control form-control-lg" %>
                </div>

                <% if devise_mapping.rememberable? %>
                  <div class="form-check d-flex justify-content-center mb-3">
                    <%= f.check_box :remember_me, class:"form-check-input" %>
                    <%= f.label :remember_me, class:"form-check-label ms-2" %>
                  </div>
                <% end %>

                <div class="actions">
                  <%= f.submit "Log in", class:"btn btn-primary btn-lg btn-block mb-3" %>
                </div>
              <% end %>

              <%= render "devise/shared/links" %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>



